@model PechShop.ViewModels.CustomerOrdersViewModel

<h2>Заказы</h2>
<h3>
    @Html.DisplayFor(modelItem => modelItem.FullName)
</h3>

@if (Model.Orders.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Дата заказа
            </th>
            <th>
                Товар
            </th>
            <th>
                Цена за единицу
            </th>
            <th>
                Доставка за единицу
            </th>
            <th>
                Всего заказано
            </th>
            <th>
                Заказано на сумму
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportationCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOrderedNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOrderedSum)
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-info" asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderId">Редактировать</a>
                        <a class="btn btn-danger" asp-controller="Orders" asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <p><b>Сумма по всем заказам:</b> @Model.TotalOrderedSum</p>

}