@model IEnumerable<PechShop.ViewModels.OrderViewModel>

<h2>Заказы</h2>

<table class="table" id="orders">
    <thead>
        <tr>
            <th>
                Товар
            </th>
            <th>
                Покупатель
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <a class="btn btn-block btn-success" align="center" asp-action="Create">Создать</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductsNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <div class="btn-group-vertical btn-block">
                        <a class="btn  btn-info" asp-action="Edit" asp-route-id="@item.OrderId">Редактировать</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#orders').DataTable({
                paging: false,
                searching: false,
                info: false
            });
        });
    </script>
}
