@model PechShop.ViewModels.ProductOrdersViewModel

<h2>Заказы</h2>
<h3>
    @Html.DisplayFor(modelItem => modelItem.ProductName)
</h3>

@if (Model.Orders.Any())
{
    <table class="table" id="orders">
        <thead>
            <tr>
                <th>
                    Покупатель
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Дата
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductsNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderId">Редактировать</a>
                        <a class="btn btn-danger" asp-controller="Orders" asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/data-tables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#orders').DataTable({
                paging: false,
                searching: false,
                info: false
            });
        });
    </script>
}
